{% extends 'index.html' %}
{% load static %}
{% block content %}
    <h2>Регистрация</h2>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <table>
            {% for one in regform %}
                <div>{{ one.label_tag }}</div>
                <div> {{ one }}</div>
                <div> {{ one.errors }}</div>
            {% endfor %}

        </table>
    <input type="submit" value="отправить">
    </form>
{% endblock %}